{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TechTalktoo Home</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Anton|Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/tutorials.css' %}">
    </head>
    <body class="main-body">
      <div class="topnav" id="myTopnav">
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
        <a href="/tutorials/">Tutorials</a>
        <a href="/games/">Games</a>
      </div>
      <div class="page-header">
          {% if request.user.is_superuser%}
              <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
          {% endif %}
          <center>
          <h1><a href="/"><span class="TechTalk">TechTalk</span><span class='too'>too</span></a></h1>
          <p class="slogan">A place to talk about lots of things, but also Tech too</p>
          </center>
      </div>

      <div class="container-fluid">
          <div class="row">
                <center>
                <div id="page-title">
                  <h2>Tutorials</h2>
                </div>
                </center>
                <div id="addspot" class="col-sm-2">
                  <p>ads go here</p>
                </div>
                <div class="col-sm-8">
                  {% block content %}
                  {% endblock %}
                </div>
              <div class="col-sm-2 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                  <h4>About</h4>
                  <p>Learning to code can be easy! Here we have plenty of tutorials to go around! We have articles that will walk you through Python, JavaScript, HTML and more! Rember our name is TechTalk<em>too</em>, we do more than talk, we teach.</p>
                </div>
                <div class="sidebar-module">
                  <h4>Navigation</h4>
                  <ol class="list-unstyled">
                    <li><a href='/blog/'>Blog</a></li>
                    <li><a href='/tutorials/'>Tutorials</a><li>
                    <li><a href='/games/'>Games</a></li>
                </div>
                <div class="sidebar-module">
                  <h4>Elsewhere</h4>
                  <ol class="list-unstyled">
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                  </ol>
                </div>
              </div><!-- /.blog-sidebar -->
          </div>
      </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    </body>
</html>
