{% extends 'blog/base.html' %}

{% block content %}
  <div class="post">
      {% if post.image != 'Null' %}
      <div class="media-top">
        <img class="media-object" src="/static/css/images/{{post.image}}" style="width:640px;height:228px;">
      </div>
      {% endif %}
      {% if post.published_date %}
        <div class="date">
            {{ post.published_date }}
        </div>
      {% endif %}
      <h1>{{ post.title }}</h1>
      <p>{{ post.text|linebreaksbr }}</p>
      {% if request.user.is_superuser %}
      <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
      {% endif %}
  </div>
{% endblock %}
