<html>
    <head>
        <title>Chace's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Chace's Blog</a></h1>
        </div>
        <div>
          <h1> TONY IS A BITCH HAHAHAHAHAHA </h1>
          <h1> BLAKE YOUR NOT EXCUSED FROM THIS EITHER! </h1>
          <h1> YOU NO NIPPLE HAVING ASS </h1>


        </div>
        <!--
        <div>
            <p>published: 06.05.2017, 19:20</p>
            <h2><a href="">My first post</a></h2>
            <p>Tony is a Bitch!</p>
        </div>

        <div>
            <p>published: 06.05.2017, 19:21</p>
            <h2><a href="">My second post</a></h2>
            <p>Tony is a Bitch!</p>
        </div>
        -->
    </body>
</html>
