{% extends 'code_games/base.html' %}
{% block content %}
    {% for game in games %}
        <div class="post">
            {% if game.image != 'Null' %}
            <a href="{% url 'game_single' pk=game.pk %}">
                <img src="/static/css/images/{{game.image}}" style="width:350px;height:260px;">
            </a>
            {% endif %}
            <div class="date">
                {{ game.published_date }}
            </div>
            <h1><a href="{% url 'game_single' pk=game.pk %}">{{ game.title }}</a></h1>
            <hr>
        </div>
    {% endfor %}
{% endblock %}
